LOGGING_LEVEL=1 # 1 = notifications + errors + warnings | 2 = everything
USERNAME=<your-username>
DB_PASSWORD=<your-password>
OPINIONATED=true
USE_VSC=true
VSC_WORKSPACES_DIR=/home/$USERNAME/Desktop
APP_ROOT=/var/www/html
APP_DOMAIN_SUFFIX=localhost
DOCKER_PROJECT_NAME=lara-stacker
DOCKER_PROFILES=redis,mailpit,minio # Comma-separated: redis,mailpit,minio
PHP_VERSION=8.3
NODE_VERSION=20
DOCKER_COMPOSE_FILE=./compose.yaml
AUTO_TRUST_HTTPS=true
