LOGGING_LEVEL=1 # 1 = notifications + errors + warnings | 2 = everything
USERNAME=<your-username>
DB_PASSWORD=<your-password>
OPINIONATED=true
USE_VSC=true
VSC_WORKSPACES_DIR=/home/$USERNAME/Desktop

DOCKER_COMPOSE_FILE=./compose.yaml
APP_ROOT=/var/www/html
DOCKER_PROFILES=redis,mailpit,minio # Comma-separated|avaiable profiles: redis,mailpit,minio
PHP_VERSION=8.3
NODE_VERSION=20
AUTO_TRUST_HTTPS=true

# Tip: use 80/443 for Caddy if free on your host, for clean https://<app-name>.localhost URLs
CADDY_HTTP_PORT=8080
CADDY_HTTPS_PORT=8443
